.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .time {
    font-size: 4rem;
    font-weight: 500;
    font-variant-numeric: tabular-nums;
  }

  .actions {
    display: flex;
    width: 100%;
    max-width: 300px;
    align-items: center;
    justify-content: space-around;


    button {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      font-size: 1.5em;
      line-height: 1.5em;
      border: none;
      background: white;
      box-shadow: 2px 2px 4px 1px lightgray;
      color: rgb(21, 148, 190);
    }
  }


  .scrollContainer {
    overflow-y: auto;
    height: 40vh;
    width: 100%;
    max-width: 600px;
  }
  .laps {
    display: flex;
    margin: 0 10px;
    flex-direction: column-reverse;
    padding-top: 20px;

    .lap {
      font-size: 1.2em;
      font-weight: 400;
      display: flex;
      margin: 3px 0px;
      width: 100%;
      justify-content: space-between;

        span {
          width: 100%;
          padding: 0 10px;
          text-align: right;
        }

        .index {
          max-width: 50px;
        }
      }
  }

  *::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }

  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #757575;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #A3A3A3;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #A3A3A3;
  }
}
