<div class="container">
  @if(running$ | async) {

    @if(timer$ | async; as timer) {

      <h1 class="time">{{ timer | date: 'mm:ss.SS' }}</h1>


    } @else {

      <h1 class="time">{{ time | date: 'mm:ss.SS' }}</h1>

    }

    <div class="actions">
      <button (click)="start(false)">
        <fa-icon [icon]="faPause"></fa-icon>
      </button>
      <button (click)="lap()">
        <fa-icon [icon]="faFlag"></fa-icon>
      </button>
    </div>

  } @else {

  <h1 class="time">{{ time | date: 'mm:ss.SS' }}</h1>
  <div class="actions">
    <button (click)="start(true)">
      <fa-icon [icon]="faPlay"></fa-icon>
    </button>

    @if (time !== timerService.timeZoneOffSet) {
      <button (click)="reset()">
        <fa-icon [icon]="faStop"></fa-icon>
      </button>
    }
  </div>

  }

  <div class="scrollContainer">
  <div id="laps" class="laps">
      @for (lap of laps$ | async; track $index;) {
        <div class="lap">
          <span class="index">{{$index + 1}}</span>
          <span class="lap-time">+ {{lap.diff | date: 'mm:ss.SS'}}</span>
          <span class="lap-time">{{lap.time | date: 'mm:ss.SS' }}</span>
        </div>
      }
    </div>
  </div>
</div>

